.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friends .friend__avatar {
  width: 50px;
  border-radius: 38%;
}
.friend__avatar.g-avatar {
  width: 70px;
  border-radius: 38%;
}
.friend__avatar.m-avatar {
  width: 60px;
  border-radius: 38%;
}

.friends .friend__column {
  display: flex;
  align-items: center;
}
.chats .friend__column {
  display: flex;
  align-items: center;
}
.friend__column .friend__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend__column .chat__timestamp {
  font-size: 12px;
  opacity: 0.7;
}
