@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Spartan:300,400,500,600&display=swap");

body {
  background-color: #252d4e;
}
h1 {
  color: #99b9da;
  font-size: 120px;
  /* transition: color 0.5s ease-in-out; */
}
.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

/* .greetings, */
.form {
  display: none;
}
/* display:none을 해주지 않으면, 이름을 입력한 후에도, input창이 살아있다*/

.showing {
  display: block;
}

.js-clock,
.greetings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  /* 조상 클래스가 없으므로, absolute: body를 기준으로 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
/* 이전의 사진들이 없어지지않고 계속 남아있는 문제를, 전체 크기로 키워버림으로써 차곡차곡 묻어버리니, 새로운 사지만 남는 효과를 보이게한다. 개꿀 */
